SPREADSHEET_ID=1t9ZZeJZaV4ZoVClVPRQ9YZ5kMo8LsZiCUSSGtxzmB5I
SPREADSHEET_RANGE="Spring-2024!A:D"
GOOGLE_APPLICATION_CREDENTIALS=/home/pwhite/hanover-referee-google-creds.json
EMAIL_USERNAME = 'hanoversoccerref@gmail.com'
EMAIL_PASSWORD = 'cnlhtaifjpdtabfy'
EMAIL_TO = '<Peter White>pwhite@delpwhite.org,<Game Report>hanoversoccerref@gmail.com'
