SPREADSHEET_ID=<Google Sheet ID>
SPREADSHEET_RANGE="Sheet Name!A:D"
GOOGLE_APPLICATION_CREDENTIALS=<Location of google credentials></Location>
EMAIL_USERNAME = <email address>
EMAIL_PASSWORD = <email password>
