{{ name }},

<p>Attached is {{ town }}'s home schedule for the Spring 2024 season.</p>

<h2>Steps to complete:</h2>

<p>Update the file with game time, venue, and sub-venue information.</p>
<p>Save the file</p>
<p>Go to Assignr's upload page, https://cysl.assignr.com/import_files/new?import_type=G</p>
<p>Upload the file</p>
<p>&nbsp;&nbsp;&nbsp;Click "Choose File" button, select the file</p>
<p>&nbsp;&nbsp;&nbsp;Click "Upload File" button</p>


<p>Detail Information on uploading games, https://support.assignr.com/en/articles/8526473-how-to-import-games-in-bulk</p>

